body{
    margin: 0;
    display: flex;
    background-color: black;
    flex-direction: column;
}
.header{
    width : 100vw;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid orange;
    font-family: 'Gemunu Libre', sans-serif;
}
.PlayerName{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.players{
    color: black;
    display: flex;
    width: fit-content;
    font-size: 1vw;
    height: fit-content;
}
.main{
    display: flex;
    height : calc(100vh - 65px);
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#board{
    display: flex;
    width: 77%;
    height: 77%;
    flex-direction: column;
    justify-content: space-between;
}

.row{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box{
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    border: 5px solid orange
}
.Player1{
    background-image: url(https://media.istockphoto.com/photos/milk-splash-on-black-background-picture-id510486152?k=6&m=510486152&s=170667a&w=0&h=SkbvZU0YeTbY1SEKULL6qdxiEgpuy4Hh4LOJrjW5uqA=);
    background-size:cover;
    border: 5px solid white;
    background-position: center;
    background-repeat: no-repeat;
}
.Player2{
    background-image: url(https://th.bing.com/th/id/OIP.hq0qhc-ZmRWNE_j_lf6nDgHaIU?pid=ImgDet&rs=1);
    background-size:cover;
    border: 5px solid white;
    background-position: center;
    background-repeat: no-repeat;
}
#clearResults{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 40px;
    height: 40px;
    width: 10%;
    background-color: white;
    font-family: 'Gemunu Libre', sans-serif;
    border-radius: 10px;
    border:1px solid black;
    text-align: center;
}
#clearResults:hover{
    background-color: orange;
    border:1px solid white;
}
.box:hover{
    background-color: orange;
    border: white 5px solid
}
button{
    height: 30px;
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.startInput{
    height: 30px;
    width: auto;
    display: flex;
    position: relative;
    margin: 10px
}
.startdiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    position:absolute;
    background-color: black;
    opacity: 98%;
}
.lower{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper{
    display: flex;
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 10vh;
    text-align: center;
    background: -webkit-linear-gradient(grey, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.PlayerText{
    font-family: 'Gemunu Libre', sans-serif;
    display: flex;
    align-items: center;
    width: 30%;
    height: 20%;
    justify-content: center;
    background: -webkit-linear-gradient(grey, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2vh;
    text-align: center;
}
.playeractive{
    color: orange;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
}
